.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  height: 100vh;
}
 body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }
.carousel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.carousel-img{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.footer{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  margin-top: 100px;
}
