.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
 body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }
.carousel{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.carousel-img{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.footer{
  margin-top: auto;
}
